* {
    margin: 0; //Fa que no hi hagi scroll horitzontal.
    padding: 0;
    box-sizing: border-box; //Fa que no hi hagi marges i paddings addicionals a les caixes.
}

//custom variables
$primary: #5266DF;
$secondary: #FB5859;
$info: #F7F7F7;

//navbar
$navbar-light-hover-color: #FB5859;
$navbar-light-active-color: #FB5859;

.nav-item header{
    padding: 8px 16px;
    font-size: .9rem;
}

.navbar-nav{
    width: 20rem;

}
.navbar .btn{
    font-size: .9rem;
}
  
.navbar-light .navbar-toggler {
    border-color: transparent;
  } 


//body
body {
    padding: 5rem 0 3rem 3rem;
    overflow-x: hidden;
}


// import font family and custom styles
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
$font-family-base: 'Open Sans', sans-serif;
$body-color: #97969E;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 400;
$headings-font-weight: 500;

// button style
$btn-padding-x: 27px;
$btn-padding-y: 8px;

//raidus pill
$border-radius-pill: 10rem;

//tabs

  .nav-tabs{
    margin-bottom: 0.5rem !important;
    border-bottom: 2px solid transparent !important;
  }

  .nav-tabs .nav-link{
    color: #97969E;
    margin-bottom: 0 !important;
    border: 0 !important;
  }

  .nav-tabs .nav-item-line .nav-link{
    border-bottom: 2px solid #FB5859 !important;
    color: #FB5859 !important;
  }

  .nav-tabs .nav-link:hover{
    color: #FB5859;
    border-bottom: 2px solid #FB5859 !important;
  }

  .col-md-12{
    padding: 0 !important;
  }
 
$nav-tabs-link-active-border-color: #fff;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.pantalla{
    padding-top: 20px;
}

.container-blue-right{
    z-index: -1;
    background-color: #5266DF;
    height: 20rem;
    //width: 40rem;
    margin-top: -15rem;
    margin-left: 10rem; 
}

.container-blue-left{
    z-index: -1;
    background-color: #5266DF;
    height: 20rem;
    width: 40rem;
    margin-top: -15rem;
    margin-left: -10rem;
}